@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: black;
}

.wrapper {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 0 108px 0 108px;
  color: #ffffff;
  z-index: 1000;
}

.headerLogo {
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerCenterMenu,
.headerRightMenu {
  font-size: 12px;
  display: flex;
  flex-direction: row;
}

.headerMenu {
  padding-top: 24px;
  padding-bottom: 24px;
  cursor: pointer;
  margin-right: 64px;
  border-top: 2pt solid transparent;
  border-bottom: 2pt solid transparent;
  border-radius: 2px;
}

.headerMenu:hover {
  color: #ffb548;
  border-bottom: 2pt solid #ffb548;
}
.headerMenu:last-child {
  margin-right: 0;
}

/* section 1 */
.section1 {
  background-image: url("/Assets/images/main-bg.jpg");
  width: 100vw;
  height: 100vh;
  background-size: 100vw 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.coverTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 32px;
}
.coverSubtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.buttonPlay {
  cursor: pointer;
  width: 200px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#ffb548, #f3af34);
  border-radius: 8px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.buttonPlay:hover {
  background-color: #ffb548;
  box-shadow: 0px 15px 20px rgba(229, 177, 46, 0.4);
  color: #fff;
}

.content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lowerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

.story {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}

.arrow {
  margin-top: 8px;
  width: 20px;
}

@media screen and (max-width: 992px) {
  .section1 {
    background-size: auto 40vh;
    background-position: center;
    height: 40vh;
    background-repeat: no-repeat;
  }
}

/* section 2 */
.section2 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("/Assets/images/game-bg.jpg") !important;
  width: 100vw;
  height: 100vh;
  background-size: 100vw 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding-left: 108px;
  padding-right: 108px;
}

.sectionContent {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  color: white;
  font-weight: 400;
}

.imageSlide {
  height: 350px;
  width: 100%;
}

.contentTitle {
  font-size: 56px;
}

.contentSubtitle {
  font-size: 24px;
  margin-bottom: 8px;
}

@media screen and (max-width: 992px) {
  .section2 {
    background-size: auto 30vh;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
  }
}

/* section 3 */
.section3 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("/Assets/images/feature.jpg");
  width: 100vw;
  height: 100vh;
  background-size: 100vw 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding-left: 108px;
  padding-right: 108px;
}

.features {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  position: relative;
}

.featureContent {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-bottom: 30px;
}

.featureContentActive {
  border-left: 2px solid #ffffff;
  max-width: 256px;
}

.featureContentActive:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  z-index: 100;
  left: -10px;
  top: 0px;
  background: #fff;
  border: 2px solid #82909c;
}

.featureContentPasive {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-bottom: 30px;
}

.featureContentPasive:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  z-index: 100;
  left: -10px;
  top: 0px;
  border: 2px solid #ffffff;
}

.textOrange {
  font-size: 20px;
  font-weight: 400;
  color: #ffb548;
  font-family: Arial, Helvetica, sans-serif;
}

.textWhite {
  font-size: 14px;
  margin-top: 16px;
  line-height: 22px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 992px) {
  .section3 {
    background-size: auto 30vh;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
    padding-top: 120px;
  }
}

/* section 4 */
.section4 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("/Assets/images/requirement.jpg");
  width: 100vw;
  height: 100vh;
  background-size: 100vw 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding-left: 108px;
  padding-right: 108px;
}

.table {
  margin-top: 32px;
  width: 100%;
  /* border: 1pt solid #979797; */
  box-shadow: inset 0 0 10px #979797;
  border-top: 0.5pt solid #979797;
  border-left: 0.5pt solid #979797;
}

td {
  padding: 8px;
  border-right: 0.5pt solid #979797;
  border-bottom: 0.5pt solid #979797;
}

.tableTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #ffb548;
  margin-bottom: 8px;
}

.tableSubtitle {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 22px;
  font-size: 16px;
}

@media screen and (max-width: 992px) {
  .section4 {
    background-size: auto 30vh;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
  }
}

/* section 5 */
.section5 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("/Assets/images/top-score.png");
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-size: 100vw 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding-left: 108px;
  padding-right: 108px;
}

.topScoreTitle {
  font-size: 56px;
  margin-bottom: 32px;
}

.topScoreSubitle {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 32px;
}

.quote {
  display: flex;
  flex-direction: column;
}

.card1 {
  margin-left: 120px;
}
.card3 {
  margin-left: 80px;
}

.card {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #1b1d1e;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 32px;
}

.headerQuote {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profileTitle {
  display: flex;
  flex-direction: row;
}

.profile {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  box-shadow: 6px 1px 0px 0px #ffb548;
}

.profileText {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  align-self: center;
}

.profileTextTitle {
  font-size: 24px;
  color: #ffb548;
}

.profileTextSubtitle {
  font-size: 16px;
  color: #8d8d8d;
}

.quoteText {
  font-size: 18px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin-top: 16px;
}

.date {
  font-size: 14px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin-top: 16px;
  color: #8d8d8d;
}

@media screen and (max-width: 992px) {
  .section5 {
    background-size: auto 30vh;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
  }

  .card1 {
    margin-left: 0;
  }
  .card3 {
    margin-left: 0;
  }
}

/* section 6 */
.section6 {
  background-size: 100vw 100vh;
  background-color: black;
  width: 100vw;
  height: 100vh;
  background-size: 100vw 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding-left: 108px;
  padding-right: 108px;
}

.nlText {
  font-size: 18px;
  max-width: 160px;
  margin-bottom: 24px;
}

.nlText2 {
  font-size: 54px;
  margin-bottom: 24px;
}

.nlText3 {
  font-size: 14px;
  margin-bottom: 24px;
}

.subscribeWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputWrapper {
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: #1b1d1e;
}

.label {
  font-size: 12px;
  color: #8d8d8d;
}

input {
  background-color: transparent;
  border: none;
  color: #ffb548;
  font-size: 16px;
}

input::placeholder {
  color: #ffb548;
}

.inputButton {
  border-radius: 8px;
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb548;
  color: #1b1d1e;
}

.inputButton:hover {
  background-color: #ffb548;
  box-shadow: 0px 15px 20px rgba(229, 177, 46, 0.4);
  color: #fff;
}

/* footer */
.footer {
  background-color: black;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-left: 108px;
  padding-right: 108px;
}

.footerMenu {
  width: 100%;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footerIcon {
  margin-left: 32px;
}

.footerLink {
  text-decoration: none;
  color: #ffffff;
  margin-left: 32px;
}

.footerDivider {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #fff;
  border-bottom: 1pt solid #8d8d8d;
}

.footerCopyright {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.copyright {
  color: #8d8d8d;
  font-size: 12px;
}

.tnc {
  font-size: 14px;
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  .section6 {
    height: 30vh;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(-8px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(-8px);
  }
}
